<!doctype html>
<html lang="en" ng-app="angularPOC">
<head>
<meta charset="utf-8" />
<title>Angular using Java EE REST</title>
<link rel="stylesheet" href="/Angular/app/css/app.css" />

<!-- Libraries (none Angular) -->

<!-- place jquery BEFORE angular -->
<script src="/Angular/app/lib/jquery/jquery-1.10.2.js"></script>
<script src="/Angular/app/lib/jquery/jquery-ui-1.10.3.js"></script>
<script src="/Angular/app/lib/angular/angular.js"></script>

<!-- Libraries (Angular) -->
<script src="/Angular/app/lib/angular/angular-translate.min.js"></script>
<!-- make sure this file is loaded in our view through a script tag after our angular-translate script tag -->
<script src="/Angular/app/lib/angular/angular-translate-loader-static-files.min.js"></script>
<script src="/Angular/app/lib/angular/angular-translate-loader-url.min.js"></script>

<!-- Internationalization "i18n" that uses the translation module-->
<script src="/Angular/app/js/filters/I18N.js"></script>

<!-- This is needed with angular v. 1.2 and newer -->
<script src="/Angular/app/lib/angular/angular-route.js"></script>

<!-- Routes and config / the navigation control -->
<script src="/Angular/app/js/App.js"></script>

<!-- Services -->
<script src="/Angular/app/js/services/RestServices.js"></script>
<script src="/Angular/app/js/services/ShareDataService.js"></script>

<!-- Controllers -->
<script src="/Angular/app/js/controllers/MessageControllers.js"></script>
<script src="/Angular/app/js/controllers/MainControllers.js"></script>
<script src="/Angular/app/js/controllers/DetailControllers.js"></script>

<!-- Directives -->
<script src="/Angular/app/js/directives/AddDirectives.js"></script>

</head>
<!-- AngularJS; Best Practice: Prefer using the dash-delimited format (e.g. ng-bind for ngBind) -->
<body ng-controller="MessageController" class="default">
  <div>
    <div>
      {{'SELECT_LANG' | translate}}<br /> <span class="links" ng-click="chooseLanguage('fi')">{{'FI' |
        translate}}</span><br /> <span class="links" ng-click="chooseLanguage('en')">{{'EN' | translate}}</span>
    </div>
    <div class="links">
      <ul>
        <li><a href="#/ajeer">{{'links.MAIN' | translate}}</a></li>
        <li><a href="#/ajeer/details/id">{{'links.DETAILS' | translate}}</a></li>
      </ul>
    </div>

    <div id="messages" class="messages" ng-show="hasMessages">
      <div>{{'MESSAGES' | translate}}</div>
      <div id="messagesList" ng-repeat="message in messages">
        <div id="message" ng-class="message.type">{{message.text}}</div>
      </div>
    </div>
    <br />

    <!-- Content here is loaded from the file specified with the 'templateUrl' in App.js -->
    <ng-view></ng-view>
  </div>

  <br />
  <br />
  <div>{{'GENERAL_NOTIFICATION' | translate}}</div>
  <br />
  <div id="test">
    <h3>Test REST by JQuery</h3>
    <button id="test1" onclick="doAjax1()">do ajax 1</button>
    <button id="test3" onclick="doAjax2()">do ajax 2</button>

    <p id="plain-content">plain js content not set</p>
    <script>
					$("#plain-content").html("content by initial jquery")
				</script>

    <p id="json-content">json content not loaded yet</p>
    <script>
					function doAjax1() {
						$
								.ajax(
										{
											type : "GET",
											url : "http://localhost:8080/jeer/rest/phonebook?param=value",
											contentType : "text/plain; charset=utf-8",
											dataType : "text",
										}).done(function(data) {
									$("#plain-content").html(data);
								});
					}

					function doAjax2() {
						$.ajax({
							type : "GET",
							url : "http://localhost:8080/jeer/rest/phonebook",
							contentType : "text/plain; charset=utf-8",
							dataType : "json",
						}).done(function(data) {
							$("#json-content").html(JSON.stringify(data));
						});
					}
				</script>
  </div>
</body>
</html>
