<!-- In order to use formController, we specify a normal form where the formController attaches it self to by it's name -->
<form name="phonenumberForm">
  <!-- The controller is already defined in the app.js -->
  <!-- The json structure of a Person & PhoneNumber is defined in entities of jpa2...Person.java & PhoneNumber.java -->
  <div id="header" class="header">{{'table_details.LIST_NUMBERS' | translate}} {{person.names}} {{person.lastName}}</div>
  <div id="person_details_table" class="phonenumber_table">

    <div id="number_col1_header" class="number_col1 header">{{'table_details.HEADER_1' | translate}}</div>
    <div id="number_col2_header" class="number_col2 header">{{'table_details.HEADER_2' | translate}}</div>
    <div id="number_col3_header" class="number_col3 header">{{'table_details.HEADER_3' | translate}}</div>
    <div id="number_row" class="row" ng-class-even="'evenRow'" ng-class-odd="'oddRow'"
      ng-repeat="phonenumber in person.phonenumber">
      <div id="number_col1" class="number_col1 cell">{{phonenumber.numberType}}</div>
      <div id="number_col4" class="remove" ng-click="removeNumber(phonenumber.id)">&nbsp;</div>
      <!-- Angular directive -->
      <add-edit-text-fields field1="phonenumber.phoneNumber" field2="phonenumber.description"
        style1="number_col2 cell selectable" style2="number_col3 cell selectable" />
    </div>

    <div id="buttons" class="buttons">
      <div class="save_button">
        <button ng-disabled="phonenumberForm.$pristine" id="saveChanges" ng-click="savePhonenumberChanges()"
          class="save_button">{{'buttons.SAVE' | translate}}</button>
      </div>
      <div class="cancel_button">
        <button ng-disabled="phonenumberForm.$pristine" id="cancelChanges" ng-click="cancelPhonenumberChanges()"
          class="cancel">{{'buttons.CANCEL' | translate}}</button>
      </div>
    </div>

    <div id="new_number_row" class="row">
      <div class="number_col1 cell">
        <div>
          <label for="type">{{'NEW_TYPE' | translate}}</label>
        </div>
        <select id="type" class="number_col1" ng-model="newNumber.numberType"
          ng-options="type.key for type in numberTypes" />
      </div>
      <div class="number_col2 cell">
        <div>
          <label for="number">{{'NEW_NUMBER' | translate}}</label>
        </div>
        <input id="number" type="text" class="number_col2" ng-model="newNumber.phoneNumber" />
      </div>
      <div class="number_col3 cell">
        <div>
          <label for="number">{{'NEW_DESCRIPTION' | translate}}</label>
        </div>
        <input id="number" type="text" class="number_col3" ng-model="newNumber.description" />
      </div>
    </div>

    <div>
      <a id="addNumber" ng-click="addNumber()" class="add">{{'links.ADD_NEW_NUMBER' | translate}}</a>
    </div>
  </div>
</form>