<!-- The controller is already defined in the app.js -->
<!-- The json structure of a Person & PhoneNumber is defined in entities of jpa2...Person.java & PhoneNumber.java -->
<div id="header" class="header">Phone number details of a person: {{person.names}} {{person.lastName}}</div>
<div id="person_details_table" class="phonenumber_table">

  <div id="number_col1_header" class="number_col1 header">Type</div>
  <div id="number_col2_header" class="number_col2 header">Phone number</div>
  <div id="number_col3_header" class="number_col3 header">Description</div>
  <div id="number_row" class="row" ng-class-even="'evenRow'" ng-class-odd="'oddRow'"
    ng-repeat="phonenumber in person.phonenumbers">
    <div id="number_col1" class="number_col1 cell">{{phonenumber.numberType}}</div>
    <div id="number_col2" class="number_col2 cell">{{phonenumber.phoneNumber}}</div>
    <div id="number_col3" class="number_col3 cell">{{phonenumber.description}}</div>
    <div id="number_col4" class="remove" ng-click="removeNumber(phonenumber.id)">&nbsp;</div>
  </div>
</div>

<div id="new_number_row" class="row">
  <div class="number_col1 cell">
    <div>
      <label for="type">Number type</label>
    </div>
    <select id="type" class="number_col1" ng-model="newNumber.numberType" ng-options="type.key for type in numberTypes" />
  </div>
  <div class="number_col2 cell">
    <div>
      <label for="number">Phone number (min 4 chars)</label>
    </div>
    <input id="number" type="text" class="number_col2" ng-model="newNumber.phoneNumber" />
  </div>
  <div class="number_col3 cell">
    <div>
      <label for="number">Description (can't be left empty)</label>
    </div>
    <input id="number" type="text" class="number_col3" ng-model="newNumber.description" />
  </div>
</div>

<div>
  <a id="addNumber" ng-click="addNumber()" class="selectable">add new number</a>
</div>
