<!-- In order to use formController, we specify a normal form where the formController attaches it self to by it's name -->
<form name="personsForm">
  <!-- The controller is already/also defined in the app.js -->
  <div id="number_search_label">
    <label for="number_search">{{'SEARCH_BY_JPA' | translate}}</label>
  </div>
  <div id="number_search">
    <input id="criteriaString" type="text" class="criteria_string" ng-model="criteriaString" /> <select
      id="criteriaType" class="criteria_type" ng-model="criteriaType" ng-options="type.value for type in criteriaTypes" />
  </div>
  <div id="search">
    <button id="find_by_numbers" ng-click="getLimitedPersons()">{{'buttons.SEARCH_BY_JPA' | translate}}</button>
  </div>
  <!-- The json structure of a person is defined in entity of jpa2...Person.java -->
  <div id="filter_label">
    <label for="filter">{{'SEARCH_BY_ANGULAR' | translate}}</label>
  </div>
  <div id="filter">
    <input type="text" class="person_filter" ng-model="personFilter" />
  </div>
  <div id="header" class="header">{{'table_main.LIST_PERSONS' | translate}}</div>
  <div id="phonebook_table" class="table">
    <div id="person_col0_header" class="col0 header">{{'table_main.HEADER_1' | translate}}</div>
    <div id="person_col1_header" class="col1 header">{{'table_main.HEADER_2' | translate}}</div>
    <div id="person_col2_header" class="col2 header">{{'table_main.HEADER_3' | translate}}</div>
    <!-- Angular; Best Practice: Prefer using directives via tag name and attributes over comment and class names -->
    <div id="person_row" class="row" ng-class-even="'evenRow'" ng-class-odd="'oddRow'"
      ng-repeat="person in persons | filter:personFilter">
      <div id="col0" class="col0 cell selectable" ng-click="selectPerson(person)">{{person.id}}</div>
      <!-- Seems like a bug: elements after directive in repeat won't get rendered -->
      <div id="col_remove" class="remove" ng-click="removePerson(person.id)">&nbsp;</div>
      <!-- Angular directive -->
      <add-edit-text-fields field1="person.names" field2="person.lastName" style1="col1 cell selectable"
        style2="col2 cell selectable" />
    </div>
    <div id="buttons" class="buttons">
      <div class="save_button">
        <button ng-disabled="personsForm.$pristine" id="saveChanges" ng-click="savePersonChanges()" class="save_button">{{'buttons.SAVE' | translate}}</button>
      </div>
      <div class="cancel_button">
        <button ng-disabled="personsForm.$pristine" id="cancelChanges" ng-click="cancelPersonChanges()" class="cancel">{{'buttons.CANCEL' | translate}}</button>
      </div>
    </div>
    
    <div id="new_person_row" class="row">
    <div id="col0" class="col0 cell">{{'NEW_ID' | translate}}</div>
      <div id="col1" class="col1 cell">
        <div>
          <label for="names">{{'NEW_NAME' | translate}}</label>
        </div>
        <input id="names" type="text" ng-model="newPerson.names" />
      </div>
      <div id="col1" class="col2 cell">
        <div>
          <label for="lastname">{{'NEW_LAST_NAME' | translate}}</label>
        </div>
        <input id="lastname" type="text" ng-model="newPerson.lastName" />
      </div>
    </div>

    <div>
      <a id="addPerson" ng-click="addPerson()" class="add">{{'links.ADD_NEW_PERSON' | translate}}</a>
    </div>
  </div>


</form>